PORT=3000
DB_URL="mongodb_url"
# DB_URL="mongodb+srv://dhruvilpatel23117:evRNd15euvDq7Kvc@chapli.nuhwetz.mongodb.net/?retryWrites=true&w=majority&appName=Chapli"
NODE_ENV=development
JWT_SECRET="JWt secret"
REDIS_URL=redis://localhost:6379
FRONTEND_ENDPOINT="http://localhost:5173"
JWT_EXPIREIN=6h